<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd    
            http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd    
            http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd    
            http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd
            http://www.springframework.org/schema/tx 
			http://www.springframework.org/schema/tx/spring-tx.xsd
			http://www.springframework.org/schema/aop 
			http://www.springframework.org/schema/aop/spring-aop.xsd">

	<!-- @ResponseBody导致的中文乱码处理 ,要放在component-scan前-->
	<bean class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter">
		<property name="messageConverters">
			<list>
				<bean
					class="org.springframework.http.converter.StringHttpMessageConverter">
					<property name="supportedMediaTypes">
						<list>
						<value>text/html;charset=UTF-8</value>
						</list>
					</property>
				</bean>
			</list>
		</property>
	</bean>
	<!-- 对web包中的所有类进行扫描，以完成Bean创建和自动依赖注入的功能 -->
	<context:component-scan base-package="com.bwdz.dzht.web"></context:component-scan>
	
		<!-- 解决@ResponseBody 的实现类其默认的编码是 iso-8859-1的问题 -->
	<mvc:annotation-driven>
		<mvc:message-converters>
			<!-- default StringHttpMessageConverter, solve encoding problem -->
			<bean class="org.springframework.http.converter.StringHttpMessageConverter">
				<constructor-arg value="UTF-8" />
				<property name="writeAcceptCharset" value="false" />
			</bean>
		</mvc:message-converters>
	</mvc:annotation-driven>
	
	<mvc:resources mapping="/css/**" location="/css/" />
	<mvc:resources mapping="/images/**" location="/images/" />
	<mvc:resources mapping="/jquery_file_upload/**" location="/jquery_file_upload/" />
	<mvc:resources mapping="/js/**" location="/js/" />
	<mvc:resources mapping="/My97DatePicker/**" location="/My97DatePicker/" />
	<mvc:resources mapping="/pdf_js/**" location="/pdf_js/" />
	<mvc:resources mapping="/fonts/**" location="/fonts/" />
	<mvc:resources mapping="/template/**" location="/template/" />
	
	
    <!-- 用注解来实现事务管理 将所有具有@Transactional 注解的文件自动配置为声明式事务支持-->
	<tx:annotation-driven transaction-manager="transactionManager" />

     <!-- FreeMarker视图支持 -->  
    <bean id="freeMarkerResolver" class="org.springframework.web.servlet.view.freemarker.FreeMarkerViewResolver"> 
       <property name="order" value="0" />
       <property name="viewClass" value="org.springframework.web.servlet.view.freemarker.FreeMarkerView"/>
       <property name="contentType" value="text/html; charset=UTF-8" />
    </bean>
    
    <!-- Freemarker配置 -->
    <bean id="freemarkerConfig"
          class="org.springframework.web.servlet.view.freemarker.FreeMarkerConfigurer">
           <!-- freeMark文件路径 -->
        <property name="templateLoaderPath" value="/WEB-INF/view/"/>
        <property name="freemarkerSettings">
            <props>
                <prop key="template_update_delay">0</prop>
                <prop key="defaultEncoding">UTF-8</prop>
                <prop key="number_format">0.##########</prop>
                <prop key="datetime_format">yyyy-MM-dd HH:mm:ss</prop>
                <prop key="classic_compatible">true</prop>
                <prop key="template_exception_handler">ignore</prop>
            </props>
        </property>
    </bean>

    <!-- jsp视图模型支持 -->
    <bean id="jspResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
         <!-- 如果使用jstl的话，配置下面的属性 -->
    	<property name="viewClass" value="org.springframework.web.servlet.view.JstlView" />
    </bean>

    <!-- 配置文件属性注入 -->
	<bean id="systemGlobals" class="com.bwdz.dzht.web.utils.SystemGlobals">
		<property name="locations">
			<list>
				<value>classpath:dzht.properties</value>
			</list>
		</property>
	</bean>

    <!-- 拦截器定义 -->
	<mvc:interceptors>
		<mvc:interceptor>
			<mvc:mapping path="/info.do*"/>
			<mvc:mapping path="/htgl.do*"/>
			<mvc:mapping path="/qianshu.do*"/>
			<bean class="com.bwdz.dzht.web.interceptor.ComInterceptor"/>
		</mvc:interceptor>
		<mvc:interceptor>
			<mvc:mapping path="/**" />
			<bean class="com.bwdz.dzht.web.interceptor.PublicInterceptor"></bean>
		</mvc:interceptor>
	</mvc:interceptors>


	<bean class="org.springframework.web.servlet.view.ContentNegotiatingViewResolver">
		<property name="order" value="1"/>
		<property name="defaultViews">
			<list>
				<!-- JSON View -->
				<bean class="org.springframework.web.servlet.view.json.MappingJackson2JsonView"></bean>
			</list>
		</property>
	</bean>

	<bean class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter">
		<property name="messageConverters">
			<list>
				<bean class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter" />
			</list>
		</property>
	</bean>

	<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<!-- 设置上传文件的最大尺寸为1MB，此处的尺寸是文件的总大小，即有多个文件上传时指的是文件总大小，而不是单个的 -->
	 <property name="maxUploadSize" value="10485760" />
	 <property name="defaultEncoding" value="UTF-8" />
	 <property name="uploadTempDir" value="local" />
    </bean>
</beans>
