.text-tips {
  font-size: 12px;
  color: #888;
  padding: 6px;
}
.text-orange {
  color: #ff6e00;
}
.disnone {
  display: none;
}
.btn-link,
.btn-link:active,
.btn-link:focus,
.btn-link:hover {
  color: #ff6e00;
  border: 0px;
  text-decoration: none;
}
select,
input,
.btn,
.form-control {
  border-radius: 0px;
}
.btn-empty {
  color: #ff6e00;
  background-color: #fff;
  border-color: #ff6e00;
}
.btn-empty:hover,
.btn-empty:focus,
.btn-empty .focus {
  color: #dc3800;
}
.btn-empty[disabled] {
  color: #999;
  border-color: #999;
}
.btn-empty[disabled]:hover {
  color: #888;
}
.btn-moren {
  color: #ff6e00;
  background-color: #fff3ef;
  border-color: #ff6e00;
}
.btn-moren:hover,
.btn-moren:focus,
.btn-moren .focus {
  color: #dc3800;
}
.btn-orange,
a.btn-orange {
  color: #fff;
  background-color: #ff6e00;
  border-width: 0;
}
.btn-orange:hover,
a.btn-orange:hover,
.btn-orange:focus,
a.btn-orange:focus,
.btn-orange .focus,
a.btn-orange .focus {
  color: #fff;
}
.btn-full {
  width: 100%;
}
.text-error {
  color: #ff6e00;
  padding-left: 4px;
  font-size: 13px;
  position: relative;
}
.text-error:before {
  content: "";
  background-image: url(../images/css_sprites.png);
  background-position: -82px -43px;
  background-size: 150px;
  height: 20px;
  width: 20px;
  position: absolute;
  top: -5px;
  left: -17px;
}
.form-group {
  margin-bottom: 3px;
  margin-top: 10px;
}
.input-group {
  display: block;
}
.input-group input.form-control {
  padding-left: 50px;
}
.form-control {
  padding: 6px 8px;
}
.input-group:before {
  background-image: url(../images/css_sprites.png);
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  color: #999;
  z-index: 999;
  width: 40px;
  height: 24px;
  border-right: 1px solid #ccc;
  margin-top: 5px;
}
.panel-default {
  border-radius: 0px;
}
.panel-default > .panel-heading {
  padding: 20px 10px 15px;
  border-bottom: 1px dashed #ddd;
  background-color: #fff;
  margin-left: 15px;
  margin-right: 15px;
}
.qrtishi span {
  display: inline-table;
  width: 30px;
  height: 8px;
  border: 1px solid #eee;
}
.qrtishi em {
  font-style: normal;
  font-size: 14px;
}
.qrtishi p {
  display: inline-block;
  padding-left: 0px;
  font-size: 12px;
}
.qrtishi .text-warning {
  color: #8a6d3b;
}
.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: #fff;
}
.table-striped > tbody > tr:nth-of-type(even) {
  background-color: #f9f9f9;
}
.footer {
  width: 100%;
  background-color: #333;
  height: 70px;
  line-height: 70px;
  color: #cecece;
  text-align: center;
  font-size: 14px;
}
.footer a {
  color: #cecece;
}
#alertMsg {
  display: none;
  width: 300px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 1px 1px 10px black;
  padding: 10px;
  font-size: 12px;
  position: absolute;
  text-align: center;
  background: #fff;
  z-index: 100000;
}
#alertMsg_info {
  padding: 2px 15px;
  line-height: 1.6em;
  text-align: left;
}
#alertMsg_btn1,
#alertMsg_btn2 {
  display: inline-block;
  padding-left: 3px;
  color: #000000;
  font-size: 12px;
  text-decoration: none;
  margin-right: 10px;
  cursor: pointer;
}
#alertMsg_btn1 cite,
#alertMsg_btn2 cite {
  line-height: 24px;
  display: inline-block;
  padding: 0 13px 0 10px;
  font-style: normal;
}
/* #pagination  style */
.ifrm_footer {
  height: 35px;
  margin-top: 35px;
  width: 100%;
  text-align: right;
  clear: both;
}
.ifrm_footer a {
  margin-right: 5px;
  padding: 5px 8px;
  display: inline-block;
  background-color: #f1f1f1;
  border: solid 1px #c1c1c1;
  border-radius: 3px;
  cursor: pointer;
  color: #555;
}
.ifrm_footer .tiaoye {
  width: 60px;
  display: inline-block;
  margin-right: 5px;
}
.pagination {
  float: right;
  margin: 10px;
}
.jp-previous,
.jp-next {
  background-color: #f1f1f1;
  border: solid 1px #c1c1c1;
}
.pagination a,
.pagination span {
  display: block;
  float: left;
  margin-right: 5px;
  text-align: center;
  height: 23px;
  width: 23px;
  border-radius: 3px;
  cursor: default;
  line-height: 23px;
}
.ifrm_footer a.jp-current {
  background: #cecece;
  border: solid 1px #c1c1c1;
  box-shadow: 0 0 1px #d9d9d9;
}
/*# sourceMappingURL=common.css.map */