html,
body {
  background-color: #ececec;
  height: 100%;
}
* {
  padding: 0px;
  margin: 0px;
}
.top_nav_dsf {
  width: 100%;
  height: 70px;
  line-height: 70px;
  background-color: #666666;
  color: #fff;
}
.top_nav_dsf .container {
  background-color: #333333;
}
.top_nav_dsf .container .col-xs-2 img {
  width: 145px;
  height: 43px;
}
.top_nav_dsf .container .col-xs-8 h3 {
  margin: 0px;
  line-height: 70px;
  color: #fff;
}
.top_nav {
  z-index: 9999;
  position: relative;
  width: 100%;
  background-color: #333;
  height: 70px;
  line-height: 69px;
}
.top_nav .col-xs-2 img,
.top_nav .col-xs-3 img {
  width: 145px;
  height: 43px;
  position: relative;
}
.top_nav .col-xs-3 .btn {
  border: 0px;
  margin-left: 20px;
}
.top_nav .col-xs-3 .loginxx {
  color: #999;
  font-size: 12px;
  line-height: 14px;
  display: inline-block;
  float: left;
  padding-top: 20px;
  position: relative;
}
.top_nav .col-xs-3 .loginxx p {
  margin-bottom: 2px;
  text-align: left;
}
.top_nav .col-xs-3 .loginxx:after {
  content: "";
  background-image: url(../images/renzheng.png);
  height: 21px;
  width: 47px;
  position: absolute;
  right: -50px;
  top: 15px;
}
.top_nav .col-xs-7 ul.nav,
.top_nav .col-xs-6 ul.nav,
.top_nav .col-sm-8 ul.nav {
  margin-bottom: 0px;
}
.top_nav .col-xs-7 ul.nav > li,
.top_nav .col-xs-6 ul.nav > li,
.top_nav .col-sm-8 ul.nav > li {
  text-align: center;
}
.top_nav .col-xs-7 ul.nav > li > a,
.top_nav .col-xs-6 ul.nav > li > a,
.top_nav .col-sm-8 ul.nav > li > a {
  color: #fff;
  font-size: 16px;
  display: initial;
  padding: 0px;
  display: inline;
}
.top_nav .col-xs-7 ul.nav > li > a:hover,
.top_nav .col-xs-6 ul.nav > li > a:hover,
.top_nav .col-sm-8 ul.nav > li > a:hover,
.top_nav .col-xs-7 ul.nav > li a.active,
.top_nav .col-xs-6 ul.nav > li a.active,
.top_nav .col-sm-8 ul.nav > li a.active,
.top_nav .col-xs-7 ul.nav > li a:active,
.top_nav .col-xs-6 ul.nav > li a:active,
.top_nav .col-sm-8 ul.nav > li a:active {
  color: #ff6e00;
  border-bottom: 2px solid #ff6e00;
  text-decoration: none;
  padding-bottom: 5px;
  background-color: #333;
}
@media (max-width: 992px) {
  .top_nav_dsf {
    height: 50px;
    line-height: 50px;
  }
  .top_nav_dsf .container .col-xs-2 img {
    width: 100%;
    height: auto;
  }
  .top_nav_dsf .container .col-xs-8 h3 {
    line-height: 50px;
    font-size: 20px;
  }
  .top_nav {
    height: 50px;
    line-height: 49px;
  }
  .top_nav .col-xs-2 img,
  .top_nav .col-xs-3 img {
    width: 100%;
    height: auto;
  }
  .top_nav .col-xs-3 {
    width: 33.33333%;
  }
  .top_nav .col-xs-3 .btn {
    padding: 3px 6px;
    font-size: 12px;
  }
  .top_nav .col-xs-3 .loginxx {
    padding-top: 10px;
  }
  .top_nav .col-sm-2 img {
    width: 100%;
    height: auto;
  }
  .top_nav .col-sm-2 .btn {
    padding: 3px 6px;
    font-size: 12px;
  }
  .top_nav .col-sm-2 .loginxx {
    padding-top: 10px;
  }
  .top_nav .col-xs-7,
  .top_nav .col-xs-6 {
    width: 50%;
  }
  .top_nav .col-xs-7 ul.nav > li,
  .top_nav .col-xs-6 ul.nav > li {
    display: table-cell;
    width: 1%;
  }
  .top_nav .col-xs-7 ul.nav > li > a,
  .top_nav .col-xs-6 ul.nav > li > a {
    color: #fff;
    font-size: 14px;
    display: initial;
  }
  .top_nav .col-sm-8 ul.nav > li {
    display: table-cell;
    width: 1%;
  }
  .top_nav .col-sm-8 ul.nav > li > a {
    color: #fff;
    font-size: 14px;
    display: initial;
  }
  .container {
    width: 768px;
  }
}
.ht_name {
  font-size: 14px;
  height: 40px;
  line-height: 40px;
  padding: 0px;
}
.ht_name div {
  padding: 0px;
}
.ht_main .ht_neirong .pdfimg {
  cursor: default;
  position: relative;
  top: 0px;
  left: 15px;
  width: calc(100% - 15px);
  height: 100%;
  overflow-y: scroll;
  z-index: 1;
}
.ht_main .ht_right {
  padding-right: 0px;
  text-align: center;
  height: 100%;
}
.ht_main .ht_right .ht_sfqz {
  background-color: #fff;
  height: 185px;
  padding-left: 0px;
  padding-right: 10px;
  position: relative;
  z-index: 9;
}
.ht_main .ht_right .ht_sfqz h5 {
  font-size: 15px;
  padding-top: 20px;
  padding-bottom: 5px;
  margin-top: 0px;
}
.ht_main .ht_right .ht_sfqz .ht_qz .htqz {
  width: 120px;
  height: 120px;
  margin: 0px auto;
}
.ht_main .ht_right .ht_sfqz .ht_qz .htqz img {
  width: 120px;
  height: 120px;
  cursor: move;
}
.ht_main .ht_right .ht_sfqz .ht_sf {
  position: relative;
  z-index: 9999;
}
.ht_main .ht_right .ht_sfqz .ht_sf p.text-muted {
  font-size: 12px;
  margin-bottom: 15px;
}
.ht_main .ht_right .ht_sfqz .ht_sf .btn,
.ht_main .ht_right .ht_sfqz .ht_sf .form-control {
  padding: 5px;
}
.ht_main .ht_right .ht_sfqz .ht_sf .btn-orange {
  margin-top: 13px;
  width: 90%;
}
.ht_main .ht_right .ht_sfqz .ht_sf .col-xs-6 {
  padding-right: 3px;
  padding-left: 0px;
  width: calc(100% - 72px);
}
.ht_main .ht_right .ht_sfqz .ht_sf .col-xs-6:last-child {
  width: 72px;
}
.ht_main .ht_right .ht_sfqz .ht_sf .fshinput {
  width: calc(100% - 110px);
}
.ht_main .ht_right .ht_sfqz .ht_sf .fshbtn {
  width: 110px;
}
.ht_main .ht_right .ht_yeqian {
  height: calc(100% - 195px);
  margin-top: 10px;
  background-color: #caced3;
}
.ht_main .ht_right .ht_yeqian .yeshu {
  padding-top: 5px;
  z-index: 9999;
  position: relative;
}
.ht_main .ht_right .ht_yeqian .yeshu .page-sum {
  display: inline-block;
  margin-right: 5px;
}
.ht_main .ht_right .ht_yeqian .yeshu .page-sum input {
  width: 30px;
}
.footer {
  margin-top: 15px;
}
.gr_zltj {
  min-height: calc(100% - 140px);
  height: auto;
  padding-bottom: 20px;
  background-color: #fff;
  margin-bottom: -15px;
  padding-top: 50px;
}
.gr_zltj .control-label {
  text-align: left;
}
.gr_zltj .col-xs-9 {
  padding-right: 0px;
}
.gr_zltj .shoujiyz .col-xs-6 {
  padding-right: 0px;
  width: calc(75% - 110px);
}
.gr_zltj .shoujiyz .fasong {
  width: 110px;
  padding-right: 0px;
  text-align: right;
}
.gr_zltj .nav-tabs > li {
  float: none;
  display: table-cell;
  width: 1%;
  text-align: center;
}
.gr_zltj .nav-tabs > li a {
  font-size: 16px;
  font-weight: 700;
  color: #333;
  border: 0px;
  margin-bottom: -1px;
}
.gr_zltj .nav-tabs > li.active > a,
.gr_zltj .nav-tabs > li.active > a:focus,
.gr_zltj .nav-tabs > li.active > a:hover,
.gr_zltj .nav-tabs > li > a:hover {
  color: #ff6e00;
  border: 0px;
  border-bottom: 2px solid #ff6e00;
  background-color: #fff;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
}
.gr_zltj .tab-content {
  margin-top: 30px;
}
.gr_zltj .tab-content .col-xs-9 {
  padding-right: 15px;
}
.gr_zltj .shilitu {
  width: 208px;
  height: 128px;
  border: 1px solid #ccc;
  margin: 30px auto 10px;
  overflow: hidden;
}
.gr_zltj .shilitu img {
  width: 208px;
  height: auto;
}
.gr_zltj .sltwz {
  width: 210px;
  text-align: center;
  color: #666;
  margin: 0px auto;
}
.gr_zltj .suoluetu {
  width: 210px;
  height: 140px;
  border: 1px dashed #ccc;
  background-image: url(../images/images.png);
  background-repeat: no-repeat;
  background-position: center;
  margin: 20px auto;
}
.gr_zltj .smwenzi {
  width: 210px;
  height: 30px;
  line-height: 30px;
  font-size: 14px;
  font-weight: 500;
  color: #666;
  background-color: #eee;
  text-align: center;
  margin: 0px auto;
}
.gr_zltj .tijiaopz {
  width: 210px;
  margin: 15px auto 10px;
}
@media (max-width: 992px) {
  .top_nav {
    height: 50px;
    line-height: 50px;
  }
  .top_nav .container .col-xs-2 img {
    width: 100%;
    height: auto;
  }
  .top_nav .container .col-xs-8 h3 {
    line-height: 50px;
    font-size: 16px;
  }
  .footer {
    height: 50px;
    line-height: 50px;
  }
  .gr_zltj {
    min-height: calc(100% - 100px);
  }
  .gr_zltj .control-label {
    padding-left: 0px;
  }
}
/* jssor slider arrow navigator skin 05 css */
/*
	.jssora05l                  (normal)
	.jssora05r                  (normal)
	.jssora05l:hover            (normal mouseover)
	.jssora05r:hover            (normal mouseover)
	.jssora05l.jssora05ldn      (mousedown)
	.jssora05r.jssora05rdn      (mousedown)
	.jssora05l.jssora05lds      (disabled)
	.jssora05r.jssora05rds      (disabled)
	*/
.jssora05l,
.jssora05r {
  display: block;
  position: absolute;
  z-index: 3;
  /* size of arrow element */
  width: 37px;
  height: 68px;
  cursor: pointer;
  background-image: url('../images/qianshu/a17.png');
  background-repeat: no-repeat;
  overflow: hidden;
}
.jssora05l {
  background-position: -12px -26px;
  top: 0px;
  left: 0px;
}
.jssora05r {
  background-position: -72px -26px;
  top: 0px;
  right: 25%;
}
.jssora05l:hover {
  background-position: -132px -26px;
}
.jssora05r:hover {
  background-position: -192px -26px;
}
.jssora05l.jssora05ldn {
  background-position: -252px -26px;
}
.jssora05r.jssora05rdn {
  background-position: -312px -26px;
}
.jssora05l.jssora05lds {
  background-position: -12px -26px;
  opacity: .3;
  pointer-events: none;
}
.jssora05r.jssora05rds {
  background-position: -72px -26px;
  opacity: .3;
  pointer-events: none;
}
.jssort01-99-66 .p {
  position: absolute;
  top: 0;
  left: 0;
  width: 99px;
  height: 140px;
  cursor: pointer;
}
.jssort01-99-66 .t img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}
.jssort01-99-66 .t span {
  position: absolute;
  top: 15%;
  left: 0px;
  z-index: 999;
  color: #b9b9b9;
  font-size: 60px;
  text-align: center;
  width: 100%;
}
.jssort01-99-66 .pav .t span {
  color: #ff6e00;
}
.jssort01-99-66 .w {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}
.jssort01-99-66 .c {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 95px;
  height: 136px;
  border: #fff 2px solid;
  box-sizing: content-box;
  _background: none;
}
.jssort01-99-66 .p:hover .t span {
  color: #666;
}
.jssort01-99-66 .p:hover .c {
  top: 0px;
  left: 0px;
  width: 97px;
  height: 138px;
  border: #ff6e00 1px solid;
  background-color: rgba(0, 0, 0, 0.3);
}
.jssort01-99-66 .pav:hover .t span {
  color: #ff6e00;
}
.jssort01-99-66 .pav .c {
  top: 0px;
  _top: 0px;
  left: 0px;
  _left: 0px;
  width: 95px;
  height: 136px;
  border: #ff6e00 2px solid;
  _border: #ff6e00 2px solid;
  background-color: rgba(0, 0, 0, 0.3);
}
.jssort01-99-66 .p.pdn .c {
  background-position: 50% 50%;
  width: 97px;
  height: 138px;
  border: #ff6e00 2px solid;
}
* html .jssort01-99-66 .c,
* html .jssort01-99-66 .pdn .c,
* html .jssort01-99-66 .pav .c {
  /* ie quirks mode adjust */
  width: 99px;
  height: 140px;
}
@media (max-width: 1024px) {
  .jssort01-99-66 {
    top: 135px;
  }
  .jssort01-99-66 .p {
    height: 20%;
  }
  .jssort01-99-66 .t span {
    font-size: 50px;
  }
}
.current {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
}
.current .htqz {
  position: absolute;
  height: 120px;
  width: 120px;
  top: 0px;
  left: 0px;
  z-index: 9999;
}
.current .htqz img {
  width: 120px;
  height: 120px;
  cursor: auto;
}
.current .htqz img.delete {
  width: 18px;
  height: 18px;
  position: absolute;
  top: 0px;
  right: -8px;
  cursor: pointer;
}
/*# sourceMappingURL=qianshu.css.map */